<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
  <!-- Appender, Layout 설정 -->
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <!-- Logger 설정 -->
  <Loggers>
    <Logger name="org.fp024" level="DEBUG" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>